{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
    <figure class="text-lg-center">
        <div class="display-1">אודות</div>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://via.placeholder.com/350x150" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/350x150" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/350x150" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
    </figure>


{% endblock %}